
<div class="card_padding">
  <img class="lazy ui centered bordered rounded image" src=<%=@movie.smaller_poster%> data-src=<%= @movie.poster%> height="500" width="100%" >
  <h1 class="ui centered header"><%= @movie.title %></h1>
<div class="ui fluid card">
  <div class="content">
  <h2 align="center"><%= @movie.overview %></h2>
  </div>
</div>



  <div class="ui four centered doubling cards">
    <% if !(@showtimes.empty?) %>
        <% @showtimes.each do |showtime| %>
        <div class="ui fluid card">
            <img src=<%= showtime.movie_theatre.thumbnail%> height="200">
            <div class="content">
              <p class="ui centered header"><%= showtime.movie_theatre.name %></p>
              <b>Date:</b> <%= showtime.show_date %><br>
              <b>Showtime:</b> <%= showtime.start_time %><br />
            </div>
            <% if logged_in? %>
              <% if showtime.tickets_left > 0 %>
                <%= form_for :ticket, options = {url: '/tickets', method: 'post'}  do |f| %>
                  <%= f.hidden_field :user_id, :value => session[:user_id]%>
                  <%= f.hidden_field :showtime_id, :value => showtime.id %>
                  <div class="fluid ui labeled button">
                    <%= f.submit "Purchase Ticket", class: "fluid ui black button" %>
                    <% if showtime.tickets_left >= 7 %>
                      <%= f.label "Tickets Left: #{showtime.tickets_left}", class: "ui blue label" %>
                    <% elsif showtime.tickets_left < 7 && showtime.tickets_left >= 3 %>
                        <%= f.label "Tickets Left: #{showtime.tickets_left}", class: "ui yellow label" %>
                    <% else %>
                        <%= f.label "Tickets Left: #{showtime.tickets_left}", class: "ui red label" %>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                  <div class="ui black disabled button">
                    Sold Out!
                  </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
    <% else %>
    <div class="ui fluid card">
      <div class="ui centered header">
        <%= "There are no showtimes available for this movie" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
